{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>오늘 요약정보</title>
  <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
  <div class="container">
    <h1>오늘자 정보</h1>
      <form method="GET">
        <label for="select">게임 선택</label>
        <select id="select" name="game_select">
          <option value="1">Blue_Arcive</option>
          <option value="2">genshin_impect</option>
          <!-- 필요한 만큼의 옵션을 추가할 수 있습니다. -->
        </select>

        <button id="submitButton">출력</button>
      </form>
    <div id="result">
      <img src="{% static 'blue_archive.jpg' %}" id="userImage" alt="User Image" /> 
      <!-- API로부터 받아온 이미지를 표시할 영역 -->
      <div id="userInfo">
        <!-- API로부터 받아온 결과를 표시할 영역 -->
      </div>
    </div>
  </div>

  <script src="{% static 'script.js' %}"></script>
</body>
</html>
